img{
  max-width: 100%;
  object-fit: cover;
}

main{
  padding: 10px;
}

#searchModal{
  color: #fff;
  width: 40%;
  margin: auto;
}

#container{
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: center;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid black;
}

.product-btn{
  border: none;
  background-color: transparent;
}

.sliderTitle{
  width: 90%;
  margin: auto;
  padding: 30px 0 10px;
  font-size: 20px;
}

#wrapper {
  width: 80%;
  position: relative;
}
#wrapper i {
  top: 50%;
  height: 30px;
  width: 30px;
  cursor: pointer;
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.500);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.438);
  border-radius: 8px;
  padding-top: 5px;
  background-color: #fff;
  text-align: center;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
#wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
#wrapper i:first-child{
  left: -22px;
}
#wrapper i:last-child{
  right: -22px;
}
#wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 10px);
  overflow: hidden;
  scroll-behavior: smooth;

}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 250px;
  max-width: 200px;
  list-style: none;
  background: transparent;
  cursor: pointer;
  border-radius: 8px;
  flex-direction: column;
}

.carousel .card:hover{
  transform: scale(1.01);
}

.carousel .card .img {
  background: #8B53FF;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.card .img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: contain;
}
.carousel .card h2 {
  font-weight: 500;
  font-size: 16px;
  margin: 30px 0 5px;
}
.carousel .card span {
  color: #0F1111;
  font-weight: bold;
  font-size: 14px;
}

.carousel .card p{
  font-size: 12px;
  font-weight: bold;
  padding: 3px;
}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 3) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 70%;
    gap: 50px;
  }
}