body{
  background-color: #cadce4;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main{
  height: 95%;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: #ddebf1;
  padding: 8px;
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.443);
}

#logo-container{
  height: 100%;
  width: 50%;
  background-color: #373f48;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

#login-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 16px;
  width: 50%;
  height: 100%;
  border-radius: 8px;
}

.title-container{
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 20px;
  padding: 20px;
}

.input{
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 12px;
}

.input input{
  height: 30px;
  width: 200px;
  border: none;
  padding: 20px 16px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.158);
  background-color: #fff;
  outline: none;
}

#login-btn{
  display: flex;
  justify-content: center;
  padding: 6px;
}

#login-btn button{
  background-color: #eb4d25ca;
  border: none;
  color: #fff;
  width: 100%;
  border-radius: 8px;
  padding: 16px 16px;
  cursor: pointer;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.267);
}

#login-btn button:hover{
  transform: scale(1.03);
}

#redirect-container{
  padding: 12px;
  font-size: 14px;
  font-family: "Montserrat";
}

#redirect-border{
  width: 100%;
  height: 1px;
  margin: 20px 0 4px;
  background-color: rgba(0, 0, 0, 0.413);
}

#redirect-container p{
  padding: 12px;
}

#redirect-container p a{
  text-decoration: none;
  color: #eb4d25ca;
  transition: 0.3s;
}

#redirect-container p a:hover{
  color: #0000ff;
}

@media screen and (max-width: 720px) {
  
  #login-form{
    width: 100%;
  }

  #logo-container{
    display: none;
  }
}