main{
  display: flex;
}

#payment-methods{
  width: 60%;
}

#resume-payment{
  padding: 6px;
  width: 40%;
  display: flex;
  flex-direction: column;
}

#resume-payment h2{
  font-size: 18px;
}

.shipping{
  display: flex;
  justify-content: space-between;
  padding: 4px;
  font-size: 14px;
}

.shipping-code{
  display: flex;
  justify-content: space-between;
  padding: 4px 4px 12px;
  font-size: 14px;
}

.total-container{
  padding: 12px 4px;
  display: flex;
  border-top: 1px solid #444;
  justify-content: space-between;
}

#payment-btn{
  border: none;
  background-color: #eb4b25;
  color: #fff;
  padding: 8px 16px;
  border-radius: 6px;
  margin: auto;
  cursor: pointer;
}

/**/

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

#buy-succes{
  display: none;
  background-color: green;
  color: #fff;
  width: 100%;
  padding: 6px;
  transition: 0.3s all ease-in-out;
}

#buy-succes h2{
  font-size: 12px;
}

.panel {
  padding: 24px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  transition: max-height 0.2s ease-out;
}

.panel img{
  width: 50px;
}