#search-input{
  position: fixed;
  z-index: 99;
  width: 40%;
  height: 30px;
  padding: 6px;
  left: 50%;
  transform: translate(-50%, -50%); 
  top: 4%;
  border: 1px solid black;
  border-radius: 6px;
  outline: #eb4b25;
}

#result-nothing{
  position: absolute;
  z-index: -1;
  padding: 5px 10px;
}

.result {
  display: none;
  padding: 6px;
  background-color: #fff;
  border: 1px solid #e5e7f2;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  height: 50px;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.221);
}

.result:hover{
  background-color: #dbdde6;
}

.result button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 3px;
}

.result button img{
  max-width: 30px;
  height: 100%;
  cursor: pointer;
  object-fit: contain;
}

.result button h4{
  display: inline-block;
  font-size: 12px;
  width: 100px;
  cursor: pointer;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.result button span{
  font-size: 12PX;
  cursor: pointer;
}

#result-container {
  display: none;
  width: 40%;
  height: 150px;
  padding: 4px;
  border-radius: 6px;
  background-color: #ffffff;
  overflow-y: auto;
  position: fixed;
  left: 50%;
  top: 19%;
  z-index: 100;
  transform: translate(-50%, -50%);
  margin: auto;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.411);
}

input[value="O" i]~#result-container #result0,
input[value="Ol" i]~#result-container #result0,
input[value="Ole" i]~#result-container #result0,
input[value="Oleo" i]~#result-container #result0,
input[value="Oleo " i]~#result-container #result0,
input[value="Oleo p" i]~#result-container #result0,
input[value="Oleo pa" i]~#result-container #result0,
input[value="Oleo par" i]~#result-container #result0,
input[value="Oleo para" i]~#result-container #result0,
input[value="Oleo para " i]~#result-container #result0,
input[value="Oleo para m" i]~#result-container #result0,
input[value="Oleo para mo" i]~#result-container #result0,
input[value="Oleo para mot" i]~#result-container #result0,
input[value="Oleo para moto" i]~#result-container #result0,
input[value="Oleo para motor" i]~#result-container #result0, 
input[value="Oleo para motor " i]~#result-container #result0, 
input[value="Oleo para motor -" i]~#result-container #result0, 
input[value="Oleo para motor - " i]~#result-container #result0,
input[value="Oleo para motor - 1" i]~#result-container #result0, 
input[value="Oleo para motor - 15" i]~#result-container #result0, 
input[value="Oleo para motor - 15W" i]~#result-container #result0,
input[value="Oleo para motor - 15W4" i]~#result-container #result0, 
input[value="Oleo para motor - 15W40" i]~#result-container #result0{ 
  display: block;
}

input[value="J" i]~#result-container #result1,
input[value="Jo" i]~#result-container #result1,
input[value="Jog" i]~#result-container #result1,
input[value="Jogo" i]~#result-container #result1,
input[value="Jogo " i]~#result-container #result1,
input[value="Jogo d" i]~#result-container #result1,
input[value="Jogo de" i]~#result-container #result1,
input[value="Jogo de " i]~#result-container #result1,
input[value="Jogo de r" i]~#result-container #result1,
input[value="Jogo de ro" i]~#result-container #result1,
input[value="Jogo de rod" i]~#result-container #result1,
input[value="Jogo de roda" i]~#result-container #result1, 
input[value="Jogo de rodas" i]~#result-container #result1, 
input[value="Jogo de rodas " i]~#result-container #result1, 
input[value="Jogo de rodas a" i]~#result-container #result1,
input[value="Jogo de rodas ar" i]~#result-container #result1, 
input[value="Jogo de rodas aro" i]~#result-container #result1, 
input[value="Jogo de rodas aro " i]~#result-container #result1,
input[value="Jogo de rodas aro 2" i]~#result-container #result1, 
input[value="Jogo de rodas aro 26" i]~#result-container #result1{ 
  display: block;
}

input[value="V" i]~#result-container #result2,
input[value="Ve" i]~#result-container #result2,
input[value="Vel" i]~#result-container #result2,
input[value="Vela" i]~#result-container #result2,
input[value="Vela " i]~#result-container #result2,
input[value="Vela d" i]~#result-container #result2,
input[value="Vela de" i]~#result-container #result2,
input[value="Vela de " i]~#result-container #result2,
input[value="Vela de i" i]~#result-container #result2,
input[value="Vela de ing" i]~#result-container #result2,
input[value="Vela de ingn" i]~#result-container #result2,
input[value="Vela de ingni" i]~#result-container #result2,
input[value="Vela de ingniç" i]~#result-container #result2,
input[value="Vela de ingniçã" i]~#result-container #result2,
input[value="Vela de ingnição" i]~#result-container #result2,
input[value="Vela de ingnição " i]~#result-container #result2,
input[value="Vela de ingnição N" i]~#result-container #result2,
input[value="Vela de ingnição NG" i]~#result-container #result2,
input[value="Vela de ingnição NGK" i]~#result-container #result2,
input[value="Vela de ingnição NGK " i]~#result-container #result2,
input[value="Vela de ingnição NGK B" i]~#result-container #result2,
input[value="Vela de ingnição NGK BP" i]~#result-container #result2,
input[value="Vela de ingnição NGK BP5" i]~#result-container #result2,
input[value="Vela de ingnição NGK BP5H" i]~#result-container #result2,
input[value="Vela de ingnição NGK BP5HS" i]~#result-container #result2,
input[value="Vela de ingnição NGK BP5HS " i]~#result-container #result2,
input[value="Vela de ingnição NGK BP5HS V" i]~#result-container #result2, 
input[value="Vela de ingnição NGK BP5HS Vo" i]~#result-container #result2, 
input[value="Vela de ingnição NGK BP5HS Vol" i]~#result-container #result2, 
input[value="Vela de ingnição NGK BP5HS Volk" i]~#result-container #result2,
input[value="Vela de ingnição NGK BP5HS Volks" i]~#result-container #result2, 
input[value="Vela de ingnição NGK BP5HS Volksw" i]~#result-container #result2, 
input[value="Vela de ingnição NGK BP5HS Volkswa" i]~#result-container #result2,
input[value="Vela de ingnição NGK BP5HS Volkswag" i]~#result-container #result2, 
input[value="Vela de ingnição NGK BP5HS Volkswage" i]~#result-container #result2{ 
  display: block;
}

input[value="S" i]~#result-container #result3,
input[value="Sh" i]~#result-container #result3,
input[value="Sha" i]~#result-container #result3,
input[value="Sham" i]~#result-container #result3,
input[value="Shamp" i]~#result-container #result3,
input[value="Shampo" i]~#result-container #result3,
input[value="Shampoo" i]~#result-container #result3,
input[value="Shampoo " i]~#result-container #result3,
input[value="Shampoo V" i]~#result-container #result3,
input[value="Shampoo Vo" i]~#result-container #result3,
input[value="Shampoo Von" i]~#result-container #result3,
input[value="Shampoo Voni" i]~#result-container #result3,
input[value="Shampoo Vonix" i]~#result-container #result3,
input[value="Shampoo Vonix " i]~#result-container #result3,
input[value="Shampoo Vonix V" i]~#result-container #result3, 
input[value="Shampoo Vonix V-" i]~#result-container #result3, 
input[value="Shampoo Vonix V-E" i]~#result-container #result3, 
input[value="Shampoo Vonix V-EC" i]~#result-container #result3,
input[value="Shampoo Vonix V-ECO" i]~#result-container #result3, 
input[value="Shampoo Vonix V-ECO " i]~#result-container #result3, 
input[value="Shampoo Vonix V-ECO P" i]~#result-container #result3,
input[value="Shampoo Vonix V-ECO Pr" i]~#result-container #result3, 
input[value="Shampoo Vonix V-ECO Pro" i]~#result-container #result3{ 
  display: block;
}

input[value="A" i]~#result-container #result4,
input[value="Ad" i]~#result-container #result4,
input[value="Adi" i]~#result-container #result4,
input[value="Adit" i]~#result-container #result4,
input[value="Aditi" i]~#result-container #result4,
input[value="Aditiv" i]~#result-container #result4,
input[value="Aditivo" i]~#result-container #result4,
input[value="Aditivo " i]~#result-container #result4,
input[value="Aditivo A" i]~#result-container #result4,
input[value="Aditivo A0" i]~#result-container #result4,
input[value="Aditivo A05" i]~#result-container #result4,
input[value="Aditivo A05 " i]~#result-container #result4,
input[value="Aditivo A05 B" i]~#result-container #result4,
input[value="Aditivo A05 Bl" i]~#result-container #result4,
input[value="Aditivo A05 Bla" i]~#result-container #result4, 
input[value="Aditivo A05 Blac" i]~#result-container #result4, 
input[value="Aditivo A05 Black" i]~#result-container #result4, 
input[value="Aditivo A05 Black " i]~#result-container #result4,
input[value="Aditivo A05 Black P" i]~#result-container #result4, 
input[value="Aditivo A05 Black Pr" i]~#result-container #result4, 
input[value="Aditivo A05 Black Pri" i]~#result-container #result4,
input[value="Aditivo A05 Black Prim" i]~#result-container #result4, 
input[value="Aditivo A05 Black Prime" i]~#result-container #result4{ 
  display: block;
}

input[value="P" i]~#result-container #result5,
input[value="Pa" i]~#result-container #result5,
input[value="Par" i]~#result-container #result5,
input[value="Par " i]~#result-container #result5,
input[value="Par d" i]~#result-container #result5,
input[value="Par de" i]~#result-container #result5,
input[value="Par de " i]~#result-container #result5,
input[value="Par de p" i]~#result-container #result5,
input[value="Par de pn" i]~#result-container #result5,
input[value="Par de pne" i]~#result-container #result5,
input[value="Par de pneu" i]~#result-container #result5,
input[value="Par de pneus" i]~#result-container #result5,
input[value="Par de pneus " i]~#result-container #result5,
input[value="Par de pneus 2" i]~#result-container #result5, 
input[value="Par de pneus 27" i]~#result-container #result5, 
input[value="Par de pneus 275" i]~#result-container #result5, 
input[value="Par de pneus 275/" i]~#result-container #result5,
input[value="Par de pneus 275/6" i]~#result-container #result5, 
input[value="Par de pneus 275/65" i]~#result-container #result5, 
input[value="Par de pneus 275/65R" i]~#result-container #result5,
input[value="Par de pneus 275/65R1" i]~#result-container #result5, 
input[value="Par de pneus 275/65R18" i]~#result-container #result5{ 
  display: block;
}

input[value="P" i]~#result-container #result6,
input[value="Pa" i]~#result-container #result6,
input[value="Pas" i]~#result-container #result6,
input[value="Past" i]~#result-container #result6,
input[value="Pasti" i]~#result-container #result6,
input[value="Pastil" i]~#result-container #result6,
input[value="Pastilh" i]~#result-container #result6,
input[value="Pastilha" i]~#result-container #result6,
input[value="Pastilha " i]~#result-container #result6,
input[value="Pastilha d" i]~#result-container #result6,
input[value="Pastilha de" i]~#result-container #result6,
input[value="Pastilha de " i]~#result-container #result6,
input[value="Pastilha de f" i]~#result-container #result6,
input[value="Pastilha de fr" i]~#result-container #result6,
input[value="Pastilha de fre" i]~#result-container #result6,
input[value="Pastilha de frei" i]~#result-container #result6,
input[value="Pastilha de freio" i]~#result-container #result6,
input[value="Pastilha de freio " i]~#result-container #result6,
input[value="Pastilha de freio H" i]~#result-container #result6,
input[value="Pastilha de freio Hr" i]~#result-container #result6,
input[value="Pastilha de freio Hr-" i]~#result-container #result6,
input[value="Pastilha de freio Hr-v" i]~#result-container #result6,
input[value="Pastilha de freio Hr-v " i]~#result-container #result6,
input[value="Pastilha de freio Hr-v d" i]~#result-container #result6,
input[value="Pastilha de freio Hr-v di" i]~#result-container #result6,
input[value="Pastilha de freio Hr-v dia" i]~#result-container #result6,
input[value="Pastilha de freio Hr-v dian" i]~#result-container #result6,
input[value="Pastilha de freio Hr-v diant" i]~#result-container #result6,
input[value="Pastilha de freio Hr-v diante" i]~#result-container #result6,
input[value="Pastilha de freio Hr-v diantei" i]~#result-container #result6,
input[value="Pastilha de freio Hr-v dianteir" i]~#result-container #result6,
input[value="Pastilha de freio Hr-v dianteiro" i]~#result-container #result6{ 
  display: block;
}

input[value="R" i]~#result-container #result7,
input[value="Re" i]~#result-container #result7,
input[value="Res" i]~#result-container #result7,
input[value="Rese" i]~#result-container #result7,
input[value="Reser" i]~#result-container #result7,
input[value="Reserv" i]~#result-container #result7,
input[value="Reserva" i]~#result-container #result7,
input[value="Reservat" i]~#result-container #result7,
input[value="Reservató" i]~#result-container #result7,
input[value="Reservatór" i]~#result-container #result7,
input[value="Reservatóri" i]~#result-container #result7,
input[value="Reservatório" i]~#result-container #result7,
input[value="Reservatório " i]~#result-container #result7,
input[value="Reservatório d" i]~#result-container #result7,
input[value="Reservatório de" i]~#result-container #result7,
input[value="Reservatório de " i]~#result-container #result7,
input[value="Reservatório de f" i]~#result-container #result7,
input[value="Reservatório de fl" i]~#result-container #result7,
input[value="Reservatório de flu" i]~#result-container #result7,
input[value="Reservatório de flui" i]~#result-container #result7,
input[value="Reservatório de fluid" i]~#result-container #result7,
input[value="Reservatório de fluido" i]~#result-container #result7,
input[value="Reservatório de fluido " i]~#result-container #result7,
input[value="Reservatório de fluido C" i]~#result-container #result7,
input[value="Reservatório de fluido Co" i]~#result-container #result7,
input[value="Reservatório de fluido Cor" i]~#result-container #result7,
input[value="Reservatório de fluido Cors" i]~#result-container #result7,
input[value="Reservatório de fluido Corsa" i]~#result-container #result7,
input[value="Reservatório de fluido Corsa " i]~#result-container #result7,
input[value="Reservatório de fluido Corsa 9" i]~#result-container #result7,
input[value="Reservatório de fluido Corsa 95" i]~#result-container #result7,
input[value="Reservatório de fluido Corsa 95/" i]~#result-container #result7,
input[value="Reservatório de fluido Corsa 95/9" i]~#result-container #result7,
input[value="Reservatório de fluido Corsa 95/96" i]~#result-container #result7
{ display: block;}

input[value="T" i]~#result-container #result8,
input[value="Tu" i]~#result-container #result8,
input[value="Tur" i]~#result-container #result8,
input[value="Turb" i]~#result-container #result8,
input[value="Turbi" i]~#result-container #result8,
input[value="Turbin" i]~#result-container #result8,
input[value="Turbina" i]~#result-container #result8,
input[value="Turbina " i]~#result-container #result8,
input[value="Turbina A" i]~#result-container #result8,
input[value="Turbina Au" i]~#result-container #result8,
input[value="Turbina Aut" i]~#result-container #result8,
input[value="Turbina Auto" i]~#result-container #result8,
input[value="Turbina Auto " i]~#result-container #result8,
input[value="Turbina Auto A" i]~#result-container #result8,
input[value="Turbina Auto Av" i]~#result-container #result8,
input[value="Turbina Auto Avi" i]~#result-container #result8,
input[value="Turbina Auto Avio" i]~#result-container #result8,
input[value="Turbina Auto Avion" i]~#result-container #result8,
input[value="Turbina Auto Avioni" i]~#result-container #result8,
input[value="Turbina Auto Avionic" i]~#result-container #result8,
input[value="Turbina Auto Avionics" i]~#result-container #result8,
input[value="Turbina Auto Avionics " i]~#result-container #result8,
input[value="Turbina Auto Avionics A" i]~#result-container #result8,
input[value="Turbina Auto Avionics A5" i]~#result-container #result8,
input[value="Turbina Auto Avionics A50" i]~#result-container #result8,
input[value="Turbina Auto Avionics A50-" i]~#result-container #result8,
input[value="Turbina Auto Avionics A50-3" i]~#result-container #result8,
input[value="Turbina Auto Avionics A50-3P" i]~#result-container #result8
{ display: block;}

input[value="B" i]~#result-container #result9,
input[value="Bo" i]~#result-container #result9,
input[value="Bom" i]~#result-container #result9,
input[value="Bomb" i]~#result-container #result9,
input[value="Bomba" i]~#result-container #result9,
input[value="Bomba " i]~#result-container #result9,
input[value="Bomba V" i]~#result-container #result9,
input[value="Bomba Va" i]~#result-container #result9,
input[value="Bomba Vac" i]~#result-container #result9,
input[value="Bomba Vacu" i]~#result-container #result9,
input[value="Bomba Vacuo" i]~#result-container #result9,
input[value="Bomba Vacuo " i]~#result-container #result9,
input[value="Bomba Vacuo d" i]~#result-container #result9,
input[value="Bomba Vacuo do" i]~#result-container #result9,
input[value="Bomba Vacuo do " i]~#result-container #result9,
input[value="Bomba Vacuo do m" i]~#result-container #result9,
input[value="Bomba Vacuo do mo" i]~#result-container #result9,
input[value="Bomba Vacuo do mot" i]~#result-container #result9,
input[value="Bomba Vacuo do moto" i]~#result-container #result9,
input[value="Bomba Vacuo do motor" i]~#result-container #result9,
input[value="Bomba Vacuo do motor " i]~#result-container #result9,
input[value="Bomba Vacuo do motor -" i]~#result-container #result9,
input[value="Bomba Vacuo do motor - " i]~#result-container #result9,
input[value="Bomba Vacuo do motor - O" i]~#result-container #result9,
input[value="Bomba Vacuo do motor - On" i]~#result-container #result9,
input[value="Bomba Vacuo do motor - Oni" i]~#result-container #result9,
input[value="Bomba Vacuo do motor - Onix" i]~#result-container #result9,
input[value="Bomba Vacuo do motor - Onix " i]~#result-container #result9,
input[value="Bomba Vacuo do motor - Onix 2" i]~#result-container #result9,
input[value="Bomba Vacuo do motor - Onix 20" i]~#result-container #result9,
input[value="Bomba Vacuo do motor - Onix 202" i]~#result-container #result9,
input[value="Bomba Vacuo do motor - Onix 2020" i]~#result-container #result9,
input[value="Bomba Vacuo do motor - Onix 2020/" i]~#result-container #result9,
input[value="Bomba Vacuo do motor - Onix 2020/2" i]~#result-container #result9,
input[value="Bomba Vacuo do motor - Onix 2020/20" i]~#result-container #result9,
input[value="Bomba Vacuo do motor - Onix 2020/202" i]~#result-container #result9,
input[value="Bomba Vacuo do motor - Onix 2020/2023" i]~#result-container #result9
{ display: block;}

input[value="F" i]~#result-container #result10,
input[value="Fl" i]~#result-container #result10,
input[value="Fla" i]~#result-container #result10,
input[value="Flan" i]~#result-container #result10,
input[value="Flang" i]~#result-container #result10,
input[value="Flange" i]~#result-container #result10,
input[value="Flange " i]~#result-container #result10,
input[value="Flange d" i]~#result-container #result10,
input[value="Flange da" i]~#result-container #result10,
input[value="Flange da " i]~#result-container #result10,
input[value="Flange da B" i]~#result-container #result10,
input[value="Flange da Bo" i]~#result-container #result10,
input[value="Flange da Bom" i]~#result-container #result10,
input[value="Flange da Bomb" i]~#result-container #result10,
input[value="Flange da Bomba" i]~#result-container #result10,
input[value="Flange da Bomba " i]~#result-container #result10,
input[value="Flange da Bomba d" i]~#result-container #result10,
input[value="Flange da Bomba de" i]~#result-container #result10,
input[value="Flange da Bomba de " i]~#result-container #result10,
input[value="Flange da Bomba de C" i]~#result-container #result10,
input[value="Flange da Bomba de Co" i]~#result-container #result10,
input[value="Flange da Bomba de Com" i]~#result-container #result10,
input[value="Flange da Bomba de Comb" i]~#result-container #result10,
input[value="Flange da Bomba de Combu" i]~#result-container #result10,
input[value="Flange da Bomba de Combus" i]~#result-container #result10,
input[value="Flange da Bomba de Combust" i]~#result-container #result10,
input[value="Flange da Bomba de Combustí" i]~#result-container #result10,
input[value="Flange da Bomba de Combustív" i]~#result-container #result10,
input[value="Flange da Bomba de Combustíve" i]~#result-container #result10,
input[value="Flange da Bomba de Combustível" i]~#result-container #result10,
input[value="Flange da Bomba de Combustível " i]~#result-container #result10,
input[value="Flange da Bomba de Combustível U" i]~#result-container #result10,
input[value="Flange da Bomba de Combustível Un" i]~#result-container #result10,
input[value="Flange da Bomba de Combustível Uno" i]~#result-container #result10,
input[value="Flange da Bomba de Combustível Uno " i]~#result-container #result10,
input[value="Flange da Bomba de Combustível Uno M" i]~#result-container #result10,
input[value="Flange da Bomba de Combustível Uno Mi" i]~#result-container #result10,
input[value="Flange da Bomba de Combustível Uno Mil" i]~#result-container #result10,
input[value="Flange da Bomba de Combustível Uno Mile" i]~#result-container #result10,
input[value="Flange da Bomba de Combustível Uno Mile " i]~#result-container #result10,
input[value="Flange da Bomba de Combustível Uno Mile 2" i]~#result-container #result10,
input[value="Flange da Bomba de Combustível Uno Mile 20" i]~#result-container #result10,
input[value="Flange da Bomba de Combustível Uno Mile 201" i]~#result-container #result10,
input[value="Flange da Bomba de Combustível Uno Mile 2010" i]~#result-container #result10,
input[value="Flange da Bomba de Combustível Uno Mile 2010/" i]~#result-container #result10,
input[value="Flange da Bomba de Combustível Uno Mile 2010/2" i]~#result-container #result10,
input[value="Flange da Bomba de Combustível Uno Mile 2010/20" i]~#result-container #result10,
input[value="Flange da Bomba de Combustível Uno Mile 2010/201" i]~#result-container #result10,
input[value="Flange da Bomba de Combustível Uno Mile 2010/2011" i]~#result-container #result10
{ display: block;}

input[value="F" i]~#result-container #result11,
input[value="Fi" i]~#result-container #result11,
input[value="Fil" i]~#result-container #result11,
input[value="Filt" i]~#result-container #result11,
input[value="Filtr" i]~#result-container #result11,
input[value="Filtro" i]~#result-container #result11,
input[value="Filtro " i]~#result-container #result11,
input[value="Filtro d" i]~#result-container #result11,
input[value="Filtro de" i]~#result-container #result11,
input[value="Filtro de " i]~#result-container #result11,
input[value="Filtro de Ó" i]~#result-container #result11,
input[value="Filtro de Ól" i]~#result-container #result11,
input[value="Filtro de Óle" i]~#result-container #result11,
input[value="Filtro de Óleo" i]~#result-container #result11,
input[value="Filtro de Óleo " i]~#result-container #result11,
input[value="Filtro de Óleo J" i]~#result-container #result11,
input[value="Filtro de Óleo Je" i]~#result-container #result11,
input[value="Filtro de Óleo Jet" i]~#result-container #result11,
input[value="Filtro de Óleo Jett" i]~#result-container #result11,
input[value="Filtro de Óleo Jetta" i]~#result-container #result11,
input[value="Filtro de Óleo Jetta " i]~#result-container #result11,
input[value="Filtro de Óleo Jetta 2" i]~#result-container #result11,
input[value="Filtro de Óleo Jetta 2." i]~#result-container #result11,
input[value="Filtro de Óleo Jetta 2.0" i]~#result-container #result11
{ display: block;}

input[value="S" i]~#result-container #result12,
input[value="Su" i]~#result-container #result12,
input[value="Sup" i]~#result-container #result12,
input[value="Supo" i]~#result-container #result12,
input[value="Supor" i]~#result-container #result12,
input[value="Suport" i]~#result-container #result12,
input[value="Suporte" i]~#result-container #result12,
input[value="Suporte " i]~#result-container #result12,
input[value="Suporte d" i]~#result-container #result12,
input[value="Suporte de" i]~#result-container #result12,
input[value="Suporte de " i]~#result-container #result12,
input[value="Suporte de C" i]~#result-container #result12,
input[value="Suporte de Ce" i]~#result-container #result12,
input[value="Suporte de Cel" i]~#result-container #result12,
input[value="Suporte de Celu" i]~#result-container #result12,
input[value="Suporte de Celul" i]~#result-container #result12,
input[value="Suporte de Celula" i]~#result-container #result12,
input[value="Suporte de Celular" i]~#result-container #result12,
input[value="Suporte de Celular " i]~#result-container #result12,
input[value="Suporte de Celular -" i]~#result-container #result12,
input[value="Suporte de Celular - " i]~#result-container #result12,
input[value="Suporte de Celular - A" i]~#result-container #result12,
input[value="Suporte de Celular - Ar" i]~#result-container #result12,
input[value="Suporte de Celular - Ar " i]~#result-container #result12,
input[value="Suporte de Celular - Ar C" i]~#result-container #result12,
input[value="Suporte de Celular - Ar Co" i]~#result-container #result12,
input[value="Suporte de Celular - Ar Con" i]~#result-container #result12,
input[value="Suporte de Celular - Ar Cond" i]~#result-container #result12,
input[value="Suporte de Celular - Ar Condi" i]~#result-container #result12,
input[value="Suporte de Celular - Ar Condic" i]~#result-container #result12,
input[value="Suporte de Celular - Ar Condici" i]~#result-container #result12,
input[value="Suporte de Celular - Ar Condicio" i]~#result-container #result12,
input[value="Suporte de Celular - Ar Condicion" i]~#result-container #result12,
input[value="Suporte de Celular - Ar Condiciona" i]~#result-container #result12,
input[value="Suporte de Celular - Ar Condicionad" i]~#result-container #result12,
input[value="Suporte de Celular - Ar Condicionado" i]~#result-container #result12
{ display: block;}

input[value="P" i]~#result-container #result13,
input[value="Pe" i]~#result-container #result13,
input[value="Per" i]~#result-container #result13,
input[value="Perf" i]~#result-container #result13,
input[value="Perfu" i]~#result-container #result13,
input[value="Perfum" i]~#result-container #result13,
input[value="Perfume" i]~#result-container #result13,
input[value="Perfume " i]~#result-container #result13,
input[value="Perfume A" i]~#result-container #result13,
input[value="Perfume Ar" i]~#result-container #result13,
input[value="Perfume Aro" i]~#result-container #result13,
input[value="Perfume Arom" i]~#result-container #result13,
input[value="Perfume Aroma" i]~#result-container #result13,
input[value="Perfume Aromat" i]~#result-container #result13,
input[value="Perfume Aromati" i]~#result-container #result13,
input[value="Perfume Aromatiz" i]~#result-container #result13,
input[value="Perfume Aromatiza" i]~#result-container #result13,
input[value="Perfume Aromatizan" i]~#result-container #result13,
input[value="Perfume Aromatizant" i]~#result-container #result13,
input[value="Perfume Aromatizante" i]~#result-container #result13,
input[value="Perfume Aromatizante " i]~#result-container #result13,
input[value="Perfume Aromatizante P" i]~#result-container #result13,
input[value="Perfume Aromatizante Pu" i]~#result-container #result13,
input[value="Perfume Aromatizante Pum" i]~#result-container #result13,
input[value="Perfume Aromatizante Pump" i]~#result-container #result13,
input[value="Perfume Aromatizante Pump " i]~#result-container #result13,
input[value="Perfume Aromatizante Pump -" i]~#result-container #result13,
input[value="Perfume Aromatizante Pump - " i]~#result-container #result13,
input[value="Perfume Aromatizante Pump - 3" i]~#result-container #result13,
input[value="Perfume Aromatizante Pump - 30" i]~#result-container #result13,
input[value="Perfume Aromatizante Pump - 30m" i]~#result-container #result13,
input[value="Perfume Aromatizante Pump - 30ml" i]~#result-container #result13
{ display: block;}

input[value="L" i]~#result-container #result14,
input[value="Li" i]~#result-container #result14,
input[value="Lix" i]~#result-container #result14,
input[value="Lixe" i]~#result-container #result14,
input[value="Lixei" i]~#result-container #result14,
input[value="Lixeir" i]~#result-container #result14,
input[value="Lixeira" i]~#result-container #result14,
input[value="Lixeira " i]~#result-container #result14,
input[value="Lixeira d" i]~#result-container #result14,
input[value="Lixeira de" i]~#result-container #result14,
input[value="Lixeira de " i]~#result-container #result14,
input[value="Lixeira de C" i]~#result-container #result14,
input[value="Lixeira de Ca" i]~#result-container #result14,
input[value="Lixeira de Car" i]~#result-container #result14,
input[value="Lixeira de Carr" i]~#result-container #result14,
input[value="Lixeira de Carro" i]~#result-container #result14,
input[value="Lixeira de Carro " i]~#result-container #result14,
input[value="Lixeira de Carro -" i]~#result-container #result14,
input[value="Lixeira de Carro - " i]~#result-container #result14,
input[value="Lixeira de Carro - 1" i]~#result-container #result14,
input[value="Lixeira de Carro - 1L" i]~#result-container #result14
{ display: block;}

